## <span style="color:grey; font-weight:bold;">Import Tools and Def Functions</span>

In [ ]:
import pandas as pd
import numpy as np
import os
import importlib
import tensorflow as tf

pd.set_option("display.float_format", "{:.2f}".format)

def_pata = "/Users/porter/Desktop/01.Data Science/Porter - Project/05 - Advertising Challenge - Data Analysis"
os.chdir(def_pata)
import Def_Function
importlib.reload(Def_Function)
ed = Def_Function.EDAFunction()

data_path = "/Users/porter/Desktop/01.Data Science/Porter - Project/05 - Advertising Challenge - Data Analysis/00_Data"
os.chdir(data_path)

## <span style="color:grey; font-weight:bold;">Feature Transfer</span>

In [48]:
data = pd.read_csv("test.txt", sep="\t")

In [3]:
data.head(10)

,Unnamed: 0,29,50,5,7260,437,1,4,14,Unnamed: 9,...,3486227d,1616f155,21ddcdc9,5840adea,2c277e62,Unnamed: 34,423fab69,54c91918,9b3e8820,e75c9ae9
0,27.00,17,45.00,28.00,2.00,28.00,27.00,29.00,28.00,1.00,...,e5ba7672,b4abdd09,21ddcdc9,5840adea,36a7ab86,NaN,32c7478e,85e4d73f,010f6491,ee63dd9b
1,1.00,1,19.00,7.00,1.00,3.00,1.00,7.00,7.00,1.00,...,d4bb7bd8,bd17c3da,1d04f4a4,a458ea53,82bdc0bb,NaN,32c7478e,5bdcd9c4,010f6491,cca57dcc
2,4.00,1,NaN,6.00,1051.00,134.00,4.00,35.00,72.00,1.00,...,07c540c4,bdc06043,NaN,NaN,6dfd157c,ad3062eb,423fab69,ef089725,NaN,NaN
3,7.00,1,25.00,10.00,139.00,74.00,48.00,13.00,44.00,1.00,...,27c07bd6,395856b0,21ddcdc9,a458ea53,9c3eb598,ad3062eb,3a171ecb,c0b8dfd6,001f3601,7a2fb9af
4,8.00,11,38.00,9.00,316.00,25.00,8.00,11.00,10.00,1.00,...,e5ba7672,63cdbb21,cf99e5de,5840adea,5f957280,NaN,55dd3565,1793a828,e8b83407,b7d9c3bc
5,2.00,1,NaN,4.00,7.00,4.00,2.00,4.00,4.00,1.00,...,07c540c4,3e340673,NaN,NaN,6a909d9a,NaN,c3dc6cef,1f68c81f,NaN,NaN
6,NaN,0,NaN,NaN,8906.00,541.00,2.00,2.00,78.00,NaN,...,07c540c4,281769c2,NaN,NaN,73d06dde,ad3062eb,3a171ecb,aee52b6f,NaN,NaN
7,NaN,4,40.00,5.00,NaN,NaN,0.00,139.00,2.00,NaN,...,2005abd1,003d4f4f,NaN,NaN,e587c466,NaN,be7c41b4,3b183c5c,NaN,NaN
8,8.00,0,1.00,36.00,457.00,81.00,70.00,14.00,774.00,1.00,...,e5ba7672,4771e483,NaN,NaN,95b757a6,NaN,423fab69,41be4766,NaN,NaN
9,NaN,4,13.00,20.00,17700.00,NaN,0.00,20.00,1.00,NaN,...,776ce399,bbf70d82,NaN,NaN,0429f84b,NaN,be7c41b4,c0d61a5c,NaN,NaN

In [124]:
data.shape

(6042134, 39)

In [49]:
data.columns = [str(i) for i in range(1, len(data.columns)+1)]
data.columns

Index(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13',
       '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25',
       '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37',
       '38', '39'],
      dtype='object')

In [50]:
top70_columns = ['6', '11', '7', '5', '13', '1', '3', '30', '10', '4', '22', '27', '8', '33', '15', '32', '17', '2', '38', '23', '25', '19', '9', '20', '37']
sorted_columns = sorted(top70_columns, key=int)
filtered_data = data[sorted_columns]
filtered_data

,1,2,3,4,5,6,7,8,9,10,...,20,22,23,25,27,30,32,33,37,38
0,27.00,17,45.00,28.00,2.00,28.00,27.00,29.00,28.00,1.00,...,fe06fd10,a73ee510,ca53fc84,895d8bbb,f862f261,e5ba7672,21ddcdc9,5840adea,85e4d73f,010f6491
1,1.00,1,19.00,7.00,1.00,3.00,1.00,7.00,7.00,1.00,...,ce6020cc,a73ee510,b04d3cfe,899eb56b,b28479f6,d4bb7bd8,1d04f4a4,a458ea53,5bdcd9c4,010f6491
2,4.00,1,NaN,6.00,1051.00,134.00,4.00,35.00,72.00,1.00,...,5f29da0e,a73ee510,4b344a42,8ea37200,cfef1c29,07c540c4,NaN,NaN,ef089725,NaN
3,7.00,1,25.00,10.00,139.00,74.00,48.00,13.00,44.00,1.00,...,103c17bc,a73ee510,8e54038a,2a064dba,07d13a8f,27c07bd6,21ddcdc9,a458ea53,c0b8dfd6,001f3601
4,8.00,11,38.00,9.00,316.00,25.00,8.00,11.00,10.00,1.00,...,bc252bd0,a73ee510,ef5c0d3c,d8c29807,8ceecbc8,e5ba7672,cf99e5de,5840adea,1793a828,e8b83407
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6042129,NaN,2,6.00,9.00,20463.00,NaN,0.00,14.00,40.00,NaN,...,bf039a0c,a73ee510,3b08e48b,0fc628ed,07d13a8f,d4bb7bd8,21ddcdc9,b1252a9d,4c844a7c,010f6491
6042130,1.00,44,1.00,NaN,135.00,8.00,1.00,0.00,0.00,1.00,...,83be4a6a,a73ee510,e69894ea,2bc08fe5,b28479f6,d4bb7bd8,21ddcdc9,a458ea53,244a7d22,001f3601
6042131,NaN,1,6.00,5.00,283.00,26.00,81.00,5.00,42.00,NaN,...,f00bddf8,a73ee510,ca1bb880,277cb5a2,b28479f6,e5ba7672,21ddcdc9,5840adea,a6e7d8d3,001f3601
6042132,0.00,308,25.00,5.00,36326.00,NaN,0.00,4.00,6.00,0.00,...,9a17f584,a73ee510,62936561,e9521d94,07d13a8f,07c540c4,21ddcdc9,5840adea,d61a7d0a,ea9a246c
6042133,0.00,0,6.00,NaN,2976.00,10.00,2.00,0.00,221.00,0.00,...,df623f3a,a73ee510,81271509,b03f0955,1adce6ef,3486227d,21ddcdc9,5840adea,682a8518,ea9a246c

In [32]:
filtered_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6042134 entries, 0 to 6042133
Data columns (total 25 columns):
 #   Column  Dtype
---  ------  -----
 0   1       float64
 1   2       int64
 2   3       float64
 3   4       float64
 4   5       float64
 5   6       float64
 6   7       float64
 7   8       float64
 8   9       float64
 9   10      float64
 10  11      float64
 11  13      float64
 12  15      object
 13  17      object
 14  19      object
 15  20      object
 16  22      object
 17  23      object
 18  25      object
 19  27      object
 20  30      object
 21  32      object
 22  33      object
 23  37      object
 24  38      object
dtypes: float64(11), int64(1), object(13)
memory usage: 1.1+ GB

In [51]:
filtered_data = ed.ValueLabelEncoder(filtered_data)

Success Load encoder_dict
Encoder Dict Joblib Saved

In [52]:
imputed_data = ed.ImputeNan(filtered_data, strategy="median")

Missing Value Had Imputed by Median

/Users/porter/Desktop/01.Data Science/Porter - Project/05 - Advertising Challenge - Data Analysis/Def_Function.py:165: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[numerical_columns] = imputer.fit_transform(data[numerical_columns])

In [69]:
skewed_data = ed.SkewColumns(imputed_data, first_range=0, last_range=12)

Columns 2 including negative number
Procseeing Columns: 1
Original Column 1 Skew: 19.59
Column 1 transform by Boxcox, Skew: 0.09
Procseeing Columns: 2
Original Column 2 Skew: 6.94
Column 2 had been shifted Because it including negative: 1.23
Procseeing Columns: 3
Original Column 3 Skew: 80.40
Column 3 transform by Boxcox, Skew: 0.04
Procseeing Columns: 4
Original Column 4 Skew: 3.45
Column 4 transform by Boxcox, Skew: -0.00
Procseeing Columns: 5
Original Column 5 Skew: 9.93
Column 5 transform by Boxcox, Skew: -0.03
Procseeing Columns: 6
Original Column 6 Skew: 65.23
Column 6 transform by Boxcox, Skew: 0.00
Procseeing Columns: 7
Original Column 7 Skew: 24.10
Column 7 transform by Boxcox, Skew: 0.09
Procseeing Columns: 8
Original Column 8 Skew: 103.65
Column 8 transform by Boxcox, Skew: -0.04
Procseeing Columns: 9
Original Column 9 Skew: 8.28
Column 9 transform by Boxcox, Skew: -0.01
Procseeing Columns: 10
Original Column 10 Skew: 0.50
Column 10 transform by Boxcox, Skew: 0.01
Procseeing Columns: 11
Original Column 11 Skew: 5.72
Column 11 transform by Boxcox, Skew: 0.07
Procseeing Columns: 13
Original Column 13 Skew: 113.34
Column 13 transform by Boxcox, Skew: -0.00
Skew Finished

In [71]:
rescaler_data = ed.NormalizedScaler(skewed_data, first_range=0, last_range=12, label=None)

In [ ]:
ed.SaveCSV(rescaler_data, "TestData")