## <span style="color:grey; font-weight:bold;">Import Tools and Def Functions</span>

In [2]:
import pandas as pd
import importlib
import os

pd.set_option("display.float_format", "{:.2f}".format)

def_path = "/Users/porter/Desktop/01.Data Science/Porter - Project/05 - Advertising Challenge - Data Analysis"
os.chdir(def_path)
import Def_Function
importlib.reload(Def_Function)
ed = Def_Function.EDAFunction()

data_path = "/Users/porter/Desktop/01.Data Science/Porter - Project/05 - Advertising Challenge - Data Analysis/00_Data/Filled Chunk"
os.chdir(data_path)

## <span style="color:grey; font-weight:bold;">Merge All Chunk</span>

In [2]:
data = ed.ReadandMergeAllChunk(10)

Filled Chunk1.csv is Loaded
Filled Chunk2.csv is Loaded
Filled Chunk3.csv is Loaded
Filled Chunk4.csv is Loaded
Filled Chunk5.csv is Loaded
Filled Chunk6.csv is Loaded
Filled Chunk7.csv is Loaded
Filled Chunk8.csv is Loaded
Filled Chunk9.csv is Loaded
Filled Chunk10.csv is Loaded
All Chunk is Read and Merged

In [16]:
ed.SaveCSV(data, "Filled All Chunk")

Saved Filled All Chunk

## <span style="color:grey; font-weight:bold;">Feature Selected</span>

In [5]:
data = pd.read_csv("Filled All Chunk.csv", sep=",")

In [8]:
data.shape

(20945536, 38)

In [9]:
ed.LabelValueCount(data, target="Predicted")

Predicted
0.00    75.15%
1.00    24.85%
Name: proportion, dtype: object

## <span style="color:grey; font-weight:bold;">Random Forest</span>

In [7]:
estimator_list = [30]
feature_dict = ed.RandomForestFeature(data, estimator_list=estimator_list)

Top Feature for 30 Estimators:
6    0.09
5    0.04
3    0.04
20   0.04
9    0.04
23   0.04
26   0.04
2    0.04
24   0.04
11   0.04

In [32]:
randomforest_selected_10 = feature_dict[30].head(10).keys()
sorted_columns_10 = sorted(randomforest_selected_10, key=int)
randomforest_feature_10 = pd.concat([data["Predicted"], data[sorted_columns_10]], axis=1)
randomforest_feature_10

          Predicted    2    3    5    6    9   11     20      23     24    26
0              0.00 0.14 0.64 0.20 0.14 0.14 0.30   8322   52546    643  1825
1              0.00 0.18 0.85 0.62 0.23 0.38 0.00   2864    2602   1772   880
2              0.00 0.40 0.70 0.41 0.22 0.19 0.30   8837   50096   2992  1244
3              1.00 0.69 0.40 0.20 0.07 0.09 0.30   4082    2602    234   914
4              0.00 0.34 0.34 0.37 0.17 0.41 0.30   7503   43735   3022  2437
...             ...  ...  ...  ...  ...  ...  ...    ...     ...    ...   ...
20945531       0.00 0.31 0.52 0.42 0.30 0.43 0.00   7717   54080   5593  4467
20945532       1.00 0.14 0.58 0.18 0.35 0.34 0.43  22478   84511  10236  3070
20945533       0.00 0.26 0.60 0.40 0.30 0.33 0.29  14164   54080   8264  5899
20945534       0.00 0.07 0.37 0.59 0.31 0.33 0.29    580  120867   1723  4837
20945535       0.00 0.31 0.33 0.46 0.28 0.34 0.61  20377  142419   7711  4499

[20945536 rows x 11 columns]

In [33]:
randomforest_selected_5 = feature_dict[30].head(5).keys()
sorted_columns_5 = sorted(randomforest_selected_5, key=int)
randomforest_feature_5 = pd.concat([data["Predicted"], data[sorted_columns_5]], axis=1)
randomforest_feature_5

          Predicted    3    5    6    9     20
0              0.00 0.64 0.20 0.14 0.14   8322
1              0.00 0.85 0.62 0.23 0.38   2864
2              0.00 0.70 0.41 0.22 0.19   8837
3              1.00 0.40 0.20 0.07 0.09   4082
4              0.00 0.34 0.37 0.17 0.41   7503
...             ...  ...  ...  ...  ...    ...
20945531       0.00 0.52 0.42 0.30 0.43   7717
20945532       1.00 0.58 0.18 0.35 0.34  22478
20945533       0.00 0.60 0.40 0.30 0.33  14164
20945534       0.00 0.37 0.59 0.31 0.33    580
20945535       0.00 0.33 0.46 0.28 0.34  20377

[20945536 rows x 6 columns]

In [34]:
ed.SaveCSV(randomforest_feature_10, "RandomForest_Top10Feature")
ed.SaveCSV(randomforest_feature_5, "RandomForest_Top5Feature")

Saved RandomForest_Top10Feature
Saved RandomForest_Top5Feature