## <span style="color:grey; font-weight:bold;">Import Tools and Def Functions</span>

In [ ]:
import pandas as pd
import importlib
import os

pd.set_option("display.float_format", "{:.2f}".format)

def_path = "/Users/porter/Desktop/01.Data Science/Porter - Project/05 - Advertising Challenge - Data Analysis"
os.chdir(def_path)
import Def_Function
importlib.reload(Def_Function)
ed = Def_Function.EDAFunction()

data_path = "/Users/porter/Desktop/01.Data Science/Porter - Project/05 - Advertising Challenge - Data Analysis/00_Data/Filled Chunk"
os.chdir(data_path)

## <span style="color:grey; font-weight:bold;">Feature Selected</span>

In [2]:
data = pd.read_csv("Filled All Chunk.csv", sep=",")

In [3]:
data.shape

(20945536, 38)

In [7]:
ed.LabelValueCount(data, target="Predicted")

Predicted
0.00    75.15%
1.00    24.85%
Name: proportion, dtype: object

## <span style="color:grey; font-weight:bold;">Top Percent of Correlation of All Columns</span>

In [3]:
result, sorted_dfs = ed.SelectTopCorrFeature(data, "Predicted", top_percent=[0.7, 0.6, 0.5, 0.4, 0.3, 0.25])

Top 70% Correlated Feature: ['6', '11', '7', '5', '13', '1', '3', '30', '10', '4', '22', '27', '8', '33', '15', '32', '17', '2', '38', '23', '25', '19', '9', '20', '37']

Top 60% Correlated Feature: ['6', '11', '7', '5', '13', '1', '3', '30', '10', '4', '22', '27', '8', '33', '15', '32', '17', '2', '38', '23', '25', '19']

Top 50% Correlated Feature: ['6', '11', '7', '5', '13', '1', '3', '30', '10', '4', '22', '27', '8', '33', '15', '32', '17', '2']

Top 40% Correlated Feature: ['6', '11', '7', '5', '13', '1', '3', '30', '10', '4', '22', '27', '8', '33']

Top 30% Correlated Feature: ['6', '11', '7', '5', '13', '1', '3', '30', '10', '4', '22']

Top 25% Correlated Feature: ['6', '11', '7', '5', '13', '1', '3', '30', '10']

In [9]:
len(sorted_dfs[0.7].columns)

26

In [6]:
sorted_dfs[0.7].shape

(20945536, 26)

In [8]:
ed.LabelValueCount(sorted_dfs[0.7], target="Predicted")

Predicted
0.00    75.15%
1.00    24.85%
Name: proportion, dtype: object

In [6]:
ed.SaveCSV(sorted_dfs[0.7], "Top70AllColumnsFeature")
ed.SaveCSV(sorted_dfs[0.6], "Top60AllColumnsFeature")
ed.SaveCSV(sorted_dfs[0.5], "Top50AllColumnsFeature")
ed.SaveCSV(sorted_dfs[0.4], "Top40AllColumnsFeature")
ed.SaveCSV(sorted_dfs[0.3], "Top30AllColumnsFeature")
ed.SaveCSV(sorted_dfs[0.25], "Top25AllColumnsFeature")

Saved Top70AllColumnsFeature
Saved Top60AllColumnsFeature
Saved Top50AllColumnsFeature
Saved Top40AllColumnsFeature
Saved Top30AllColumnsFeature
Saved Top25AllColumnsFeature

In [9]:
result2, sorted_dfs2 = ed.SelectTopCorrFeature(data, "Predicted", top_percent=[0.9, 0.8])

Top 90% Correlated Feature: ['6', '11', '7', '5', '13', '1', '3', '30', '10', '4', '22', '27', '8', '33', '15', '32', '17', '2', '38', '23', '25', '19', '9', '20', '37', '31', '28', '34', '26', '24', '36', '29', '39']

Top 80% Correlated Feature: ['6', '11', '7', '5', '13', '1', '3', '30', '10', '4', '22', '27', '8', '33', '15', '32', '17', '2', '38', '23', '25', '19', '9', '20', '37', '31', '28', '34', '26']

In [32]:
ed.SaveCSV(sorted_dfs2[0.9], "Top90AllColumnsFeature")
ed.SaveCSV(sorted_dfs2[0.8], "Top80AllColumnsFeature")

Saved Top90AllColumnsFeature
Saved Top80AllColumnsFeature

## <span style="color:grey; font-weight:bold;">Top Correlation of Both Types of Columns</span>

In [7]:
numeric_corr = (
    data.iloc[:, 0:13]
    .corr(method="spearman")
    .abs()
)
numeric_sort = numeric_corr["Predicted"].drop("Predicted").sort_values(ascending=False)
numeric_sort

6    0.22
11   0.21
7    0.20
5    0.17
13   0.14
1    0.12
3    0.12
10   0.08
4    0.06
8    0.05
2    0.02
9    0.01
Name: Predicted, dtype: float64

In [8]:
objective_col = ["Predicted"] + list(data.columns[14:38])
objective_corr = (
    data[objective_col]
    .corr(method="spearman")
    .abs()
)
objective_sort = objective_corr["Predicted"].drop("Predicted").sort_values(ascending=False)
objective_sort

30   0.09
22   0.06
27   0.06
33   0.05
15   0.03
32   0.02
17   0.02
38   0.02
23   0.01
25   0.01
19   0.01
20   0.01
37   0.01
31   0.01
28   0.00
34   0.00
26   0.00
24   0.00
36   0.00
29   0.00
39   0.00
16   0.00
21   0.00
18   0.00
Name: Predicted, dtype: float64

In [6]:
numeric_top10 = list(numeric_sort.head(10).keys())
numeric_top10_sorted = sorted(numeric_top10, key=int)
data_numeric_top10 = data[numeric_top10_sorted]

numeric_top8 = list(numeric_sort.head(8).keys())
numeric_top8_sorted = sorted(numeric_top8, key=int)
data_numeric_top8 = data[numeric_top8_sorted]

numeric_top6 = list(numeric_sort.head(6).keys())
numeric_top6_sorted = sorted(numeric_top6, key=int)
data_numeric_top6 = data[numeric_top6_sorted]

numeric_top4 = list(numeric_sort.head(4).keys())
numeric_top4_sorted = sorted(numeric_top4, key=int)
data_numeric_top4 = data[numeric_top4_sorted]

In [7]:
objective_top5 = list(objective_sort.head(5).keys())
objective_top5_sorted = sorted(objective_top5, key=int)
data_obj_top5 = data[objective_top5_sorted]

objective_top3 = list(objective_sort.head(3).keys())
objective_top3_sorted = sorted(objective_top3, key=int)
data_obj_top3 = data[objective_top3_sorted]

In [8]:
top10and5columns_bothtype = pd.concat([data["Predicted"], data_numeric_top10, data_obj_top5], axis=1)
top10and3columns_bothtype = pd.concat([data["Predicted"], data_numeric_top10, data_obj_top3], axis=1)
top8and5columns_bothtype = pd.concat([data["Predicted"], data_numeric_top8, data_obj_top5], axis=1)
top8and3columns_bothtype = pd.concat([data["Predicted"], data_numeric_top8, data_obj_top3], axis=1)
top6and5columns_bothtype = pd.concat([data["Predicted"], data_numeric_top6, data_obj_top5], axis=1)
top6and3columns_bothtype = pd.concat([data["Predicted"], data_numeric_top6, data_obj_top3], axis=1)
top4and5columns_bothtype = pd.concat([data["Predicted"], data_numeric_top4, data_obj_top5], axis=1)
top4and3columns_bothtype = pd.concat([data["Predicted"], data_numeric_top4, data_obj_top3], axis=1)

In [63]:
ed.SaveCSV(top10and5columns_bothtype, "Num10andObj5_Feature")
ed.SaveCSV(top10and3columns_bothtype, "Num10andObj3_Feature")
ed.SaveCSV(top8and5columns_bothtype, "Num8andObj5_Feature")
ed.SaveCSV(top8and3columns_bothtype, "Num8andObj3_Feature")
ed.SaveCSV(top6and5columns_bothtype, "Num6andObj5_Feature")
ed.SaveCSV(top6and3columns_bothtype, "Num6andObj3_Feature")
ed.SaveCSV(top4and5columns_bothtype, "Num4andObj5_Feature")
ed.SaveCSV(top4and3columns_bothtype, "Num4andObj3_Feature")

Saved Num10andObj5_Feature
Saved Num10andObj3_Feature
Saved Num8andObj5_Feature
Saved Num8andObj3_Feature
Saved Num6andObj5_Feature
Saved Num6andObj3_Feature
Saved Num4andObj5_Feature
Saved Num4andObj3_Feature

In [29]:
numeric_col = data.iloc[:, 1:13].columns
numeric_col

Index(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '13'], dtype='object')

In [26]:
corr_selected = sorted(objective_sort[objective_sort>0.01].index.tolist(), key=int)
corr_selected

['15', '17', '19', '22', '23', '25', '27', '30', '32', '33', '38']

In [35]:
corr_data = pd.concat([data[["Predicted"]], data[numeric_col], data[corr_selected]], axis=1)
corr_data

,Predicted,1,2,3,4,5,6,7,8,9,...,17,19,22,23,25,27,30,32,33,38
0,0.00,0.52,0.14,0.64,0.15,0.20,0.14,0.26,0.21,0.14,...,3736,11,2,52546,538168,9,0,1238,0,72
1,0.00,0.37,0.18,0.85,0.00,0.62,0.23,0.00,0.36,0.38,...,116455,18,0,2602,1087860,9,5,1238,0,75
2,0.00,0.00,0.40,0.70,0.34,0.41,0.22,0.17,0.32,0.19,...,54278,1,2,50096,295300,20,4,1238,2,72
3,1.00,0.37,0.69,0.40,0.24,0.20,0.07,0.17,0.21,0.09,...,7204,18,2,2602,580469,12,8,1238,2,0
4,0.00,0.00,0.34,0.34,0.24,0.37,0.17,0.42,0.51,0.41,...,248701,9,2,43735,187581,20,9,1238,2,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20945531,0.00,0.38,0.31,0.52,0.31,0.42,0.30,0.00,0.45,0.43,...,2074501,40,5,54080,5887323,44,13,1469,3,183
20945532,1.00,0.78,0.14,0.58,0.60,0.18,0.35,0.42,0.96,0.34,...,1920888,25,5,84511,1527291,44,8,1469,3,1
20945533,0.00,0.00,0.26,0.60,0.46,0.40,0.30,0.33,0.61,0.33,...,1446001,40,5,54080,3701004,3,18,3431,4,180
20945534,0.00,0.38,0.07,0.37,0.34,0.59,0.31,0.15,0.00,0.33,...,79236,42,3,120867,208357,16,8,1347,4,177
20945535,0.00,0.00,0.31,0.33,0.27,0.46,0.28,0.45,0.41,0.34,...,1456881,42,5,142419,7598351,37,19,3837,3,177

In [36]:
ed.SaveCSV(corr_data, "CorrAllColumnsFeature")

Saved CorrAllColumnsFeature