## <span style="color:grey; font-weight:bold;">Import Tools and Def Functions</span>

In [ ]:
import pandas as pd
import importlib
import os

pd.set_option("display.float_format", "{:.2f}".format)

def_path = "/Users/porter/Desktop/01.Data Science/Porter - Project/05 - Advertising Challenge - Data Analysis"
os.chdir(def_path)
import Def_Function
importlib.reload(Def_Function)
ed = Def_Function.EDAFunction()

data_path = "/Users/porter/Desktop/01.Data Science/Porter - Project/05 - Advertising Challenge - Data Analysis/00_Data/Filled Chunk"
os.chdir(data_path)

## <span style="color:grey; font-weight:bold;">Feature Selected</span>

In [2]:
data = pd.read_csv("Top70AllColumnsFeature.csv", sep=",")

In [3]:
data.shape

(20945536, 26)

In [4]:
ed.LabelValueCount(data, target="Predicted")

Predicted
0.00    75.15%
1.00    24.85%
Name: proportion, dtype: object

In [5]:
data.head(10)

,Predicted,1,2,3,4,5,6,7,8,9,...,20,22,23,25,27,30,32,33,37,38
0,0.00,0.52,0.14,0.64,0.15,0.20,0.14,0.26,0.21,0.14,...,8322,2,52546,538168,9,0,1238,0,17176,72
1,0.00,0.37,0.18,0.85,0.00,0.62,0.23,0.00,0.36,0.38,...,2864,0,2602,1087860,9,5,1238,0,75007,75
2,0.00,0.00,0.40,0.70,0.34,0.41,0.22,0.17,0.32,0.19,...,8837,2,50096,295300,20,4,1238,2,48246,72
3,1.00,0.37,0.69,0.40,0.24,0.20,0.07,0.17,0.21,0.09,...,4082,2,2602,580469,12,8,1238,2,62952,0
4,0.00,0.00,0.34,0.34,0.24,0.37,0.17,0.42,0.51,0.41,...,7503,2,43735,187581,20,9,1238,2,20793,75
5,0.00,0.00,0.16,0.70,0.00,0.36,0.39,0.17,0.32,0.35,...,11212,2,2602,1100828,12,8,338,1,71801,72
6,1.00,0.00,0.16,0.56,0.55,0.35,0.31,0.66,0.81,0.66,...,4090,2,15404,244999,12,3,1238,1,53181,48
7,1.00,0.00,0.49,0.16,0.29,0.36,0.20,0.61,0.64,0.59,...,1603,2,36866,654072,12,6,1091,1,15425,1
8,0.00,0.73,0.11,0.40,0.34,0.32,0.25,0.61,0.82,0.39,...,2801,2,45584,275921,9,9,1238,1,52401,0
9,0.00,0.91,0.31,0.25,0.49,0.25,0.21,0.63,0.72,0.38,...,7296,2,47160,530759,12,9,1131,1,39929,0

In [8]:
data.columns

Index(['Predicted', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11',
       '13', '15', '17', '19', '20', '22', '23', '25', '27', '30', '32', '33',
       '37', '38'],
      dtype='object')

## <span style="color:grey; font-weight:bold;">Removed Outlier</span>

In [12]:
output_data_path = "/Users/porter/Desktop/01.Data Science/Porter - Project/05 - Advertising Challenge - Data Analysis/01_Data/Further Feature Selected"
os.chdir(output_data_path)

In [13]:
obj_columns = data.iloc[:, 13:26].columns
label_columns = data[["Predicted"]].columns
exclude_columns = label_columns.tolist() + obj_columns.tolist()
exclude_columns

['Predicted',
 '15',
 '17',
 '19',
 '20',
 '22',
 '23',
 '25',
 '27',
 '30',
 '32',
 '33',
 '37',
 '38']

In [14]:
remove04_data = ed.ExtremeRemoveOutlier(data, lower_quantile=0.04, upper_quantile=0.96, exclude=exclude_columns)
remove02_data = ed.ExtremeRemoveOutlier(data, lower_quantile=0.02, upper_quantile=0.98, exclude=exclude_columns)

Original Shape: (20945536, 26)
After Removing Outlier Shape: (9864187, 26)

Original Shape: (20945536, 26)
After Removing Outlier Shape: (15978195, 26)

In [20]:
ed.LabelValueCount(remove04_data, target="Predicted")
ed.LabelValueCount(remove02_data, target="Predicted")

Predicted
0.00    78.93%
1.00    21.07%
Name: proportion, dtype: object
Predicted
0.00    76.03%
1.00    23.97%
Name: proportion, dtype: object

In [21]:
ed.SaveCSV(remove04_data, "Top70ColumnsRemove004")
ed.SaveCSV(remove02_data, "Top70ColumnsRemove002")

Saved Top70ColumnsRemove004
Saved Top70ColumnsRemove002

## <span style="color:grey; font-weight:bold;">Numerical PCA</span>

In [4]:
num_col = data.iloc[:, 1:13]
obj_columns = data.iloc[:, 13:26].columns
obj_col = data[obj_columns]

num_pca10 = ed.PCAdecomposition(num_col, n_components=10)
num_pca8 = ed.PCAdecomposition(num_col, n_components=8)

num_pca10_df = pd.DataFrame(num_pca10, index=data.index)
num_pca8_df = pd.DataFrame(num_pca8, index=data.index)

data_pca10 = pd.concat([data["Predicted"],
                         num_pca10_df,
                         obj_col], axis=1)
data_pca8 = pd.concat([data["Predicted"],
                         num_pca8_df,
                         obj_col], axis=1)

In [9]:
ed.SaveCSV(data_pca10, "Top70Columns_PCA10")
ed.SaveCSV(data_pca8, "Top70Columns_PCA8")

Saved Top70Columns_PCA5
Saved Top70Columns_PCA3